name: Validate Local Build
on:
  push:
    branches: ["main"]

jobs:
  check-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Test Build (Locally)
        run: docker build -t local-image .
